# fallback (overridden by matches later in the file)
* @NVIDIA/adi-ci-codeowners

#cpp code owners
cpp/               @NVIDIA/cuml-cpp-codeowners

# docs
/CONTRIBUTING.md                     @NVIDIA/cuml-python-codeowners
/README.md                           @NVIDIA/cuml-python-codeowners
/docs/                               @NVIDIA/cuml-python-codeowners
/docs/source/developer_guide/cpp/    @NVIDIA/cuml-cpp-codeowners

#python code owners
python/            @NVIDIA/cuml-python-codeowners
/notebooks/        @NVIDIA/cuml-python-codeowners

#cmake code owners
CMakeLists.txt @NVIDIA/cuml-cmake-codeowners
*.cmake        @NVIDIA/cuml-cmake-codeowners
**/cmake/      @NVIDIA/cuml-cmake-codeowners

#CI code owners
/.github/                @NVIDIA/adi-ci-codeowners
/.coderabbit.yaml        @NVIDIA/adi-ci-codeowners
/.yamllint.yaml          @NVIDIA/adi-ci-codeowners
/ci/                     @NVIDIA/adi-ci-codeowners

#packaging code owners
/.pre-commit-config.yaml @NVIDIA/adi-packaging-codeowners
/.devcontainer/          @NVIDIA/adi-packaging-codeowners
/conda/                  @NVIDIA/adi-packaging-codeowners
dependencies.yaml        @NVIDIA/adi-packaging-codeowners
/build.sh                @NVIDIA/adi-packaging-codeowners
pyproject.toml           @NVIDIA/adi-packaging-codeowners

# Ops code owners
/SECURITY.md             @NVIDIA/adi-ops-codeowners
